$midnight-blue: #191970;
$dark-red: #8b0000;
$light-green: #94ce3d;

@mixin all-cards {
    height: 150px;
    width: 275px;
    border-radius: 10%;
    background-color: white;
}

@keyframes grad-anim{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}

.image{
    height: 150px;
    width: 275px;
    border-radius: 10%;
}

body{
    min-height: 100vh;
    color: #333;
    background: #ddd;
    background-image: linear-gradient(to bottom, yellow, $midnight-blue);
    overflow-y: auto;
}

.card-front{
    @include all-cards;
}

.card-back{
    @include all-cards;
    background-color: $dark-red;
    .back-title{
        text-align: center;
        font-weight: 500;
        font-size: 4rem;
        font-family: 'Black Ops One';
        line-height: 0.8;
        margin: 0;
        padding: 20% 0;
        color: $midnight-blue;

        background-image: linear-gradient(to right, $midnight-blue, yellow, $midnight-blue);
        background-size: 400%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: grad-anim 7s infinite alternate;

    }
}

.page-container{
    display: block;
    justify-content: center;
}

.title-content{
    text-align: center;
    font-size: 1rem;
    font-family: 'Black Ops One';
    color: $midnight-blue;

    background-image: linear-gradient(to right, $midnight-blue, $dark-red, yellow, $dark-red, $midnight-blue);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: grad-anim 5s infinite alternate;
}

.body-content{
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 1px;
}